body{
    height: 100vw;
}
.user-body {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: 100vh;
}

.user-display {
    flex: 1;
}

.header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.user-list {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
    max-height: 85%;
    overflow-y: scroll;
}

.user-list th,
.user-list td {
    padding: 8px;
    border: 1px solid #ddd;
}

.user-list tbody tr:hover {
    background-color: #f5f5f5;
}

.user-card-section {
    flex: 1;
    margin-left: 20px;
}

.card-header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.user-card {
    border: 1px solid #ddd;
    padding: 15px;
}

.control-buttons {
    display: flex;
    /* justify-content:  */
    gap: 2rem;
    margin-top: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.user-card-pagination{
    height: 30%;
    width: 100%;
    margin: 3;
    /* float: right; */
}
.horizontal-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-card-pagination .horizontal-bar .page{
    border: 2px solid black;
    height: 2rem;
    width: 3rem;
    padding: 1rem;
    text-align: center;
}

.search-user{
    margin: 1.5rem;
    height: 100%;
    display: flex;
    gap: 3rem;
    justify-content: left;
}

.search-user .search-bar input{
    height: 27px;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.search-user .set-parameter #dropdown{
    height: 50px;
    margin-top: 10px;
    width: 7rem;
    padding: 1rem;
}
@media all and (max-width:600px){
    .user-body{
        display: block;
        margin-top: 1.5rem;
    }

    .user-card-section {
        margin-top: 2rem;
        display: block;
        margin-left: 0;
    }

    .control-buttons {
        display: flex;
        justify-content:space-between; 
        margin-top: 10px;
    }

    .user-card-pagination .horizontal-bar .page{
        border: 2px solid black;
        height: 1rem;
        width: 1.5rem;
        padding: 1rem;
        text-align: center;
    }

    .search-user{
        margin: 1.5rem;
        height: 100%;
        display: flex;
        gap: 3rem;
        justify-content: center;
    }
    
    .search-user .search-bar input{
        height: 15px;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 5px;
    }
    
    .search-user .set-parameter #dropdown{
        height: 50px;
        margin-top: 10px;
        width: 7rem;
        padding: 1rem;
    }
}

@media all and (max-width:1024px){
    .user-body{
        display: block;
        margin-top: 1.5rem;
    }

    .user-card-section {
        margin-top: 2rem;
        display: block;
        margin-left: 0;
    }

    .control-buttons {
        display: flex;
        justify-content:space-between; 
        margin-top: 10px;
    }

    .user-card-pagination .horizontal-bar .page{
        border: 2px solid black;
        height: 1rem;
        width: 1.5rem;
        padding: 1rem;
        text-align: center;
    }

    .search-user{
        margin: 1.5rem;
        height: 100%;
        display: flex;
        gap: 3rem;
        justify-content: center;
    }
    
    .search-user .search-bar input{
        height: 15px;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 5px;
    }
}